body, html{
	background: #BEDBB7;
	color: #222;
	font-size:16px;
	margin:0!important;
	padding:0;
}

a, a:visited, a:hover{
	color:#222;
}

nav{
	background: #18a;
	display:block;
	width:100%;
	font-size:18px;
}
nav .site-name{
	display: inline-block;
	width:16%;
	margin: 0 0.8em;
}

.site-name a, .site-name{
	text-align:left;
	color:white;
	font-size:1.1em;
	text-decoration: none
}
nav ul{
	list-style:none;
	margin:0;
	width:80%;
	padding:0;
	display:inline-block;
	text-align:right;
}

nav ul li{
	padding:0.2em 0.7em;
	color:#fff;
	line-height:2em;
	display:inline-block;
	position:relative;
}

nav ul li a{
	color:#fff;
	position:relative;
	width:100%;
	z-index:2;
	text-decoration: none;
}

nav ul li.activo:before{
	height:2.4em;
}
nav ul li:before{
	content: "";
	width:100%;
	position:absolute;
	height:0em;
	z-index:2;
	left:0;
	background:#fff;
	transition: all 0.3s ease-in-out;
	bottom:0;
}

nav ul li:hover:before{
	height:2.4em;
}
nav ul li:hover, nav ul li:hover a, nav ul li.activo a{
	color: #18a;
}
#container{

	background: #18a;
	padding:0.2em;
	margin: 0 auto;
	max-width:960px;
	width:100%;
}

#content{
	background:#fff;
	padding:0.5em;
}

#top-boxes{
	display:block;
	margin-bottom:2em;
	padding:0 0.3em;

}

#top-boxes .box{
	position:relative;
	width:32%;
	margin: 0 0.3em;
	height:120px;
	display:inline-block;
	z-index:2;

}

#top-boxes .box .inner-box{
	position:relative;
	z-index:2;
	margin:0;
	padding:0;
	background:#ddd;
	display:block;
	height:120px;
}


#top-boxes .box:hover .read-more{
	bottom:-1.65em;
}
#top-boxes .box .read-more{
	position:absolute;
	bottom:0em;
	cursor:pointer;
	left:0;
	width:100%;
	color:#eee;
	padding: 0.2em 0;
	text-align:center;
	background: #18a;
	z-index:1;
	transition: all 0.2s ease-in-out;
}

#top-boxes .box figure{
	width:40%;
	background:#222;
	margin:0;
	height:120px;
}

#top-boxes .box figure, #top-boxes .box .content-box{
	display:inline-block;
}

#top-boxes .box .content-box{
	width:50%;
	margin:0;
	padding:0;
	vertical-align: top;
	display:inline-block;
}
#top-boxes .box .content-box h2{
	margin: 0.2em 0;
}


#poll-boxes{
	display:block;
	margin-bottom:2em;
	padding:0 0.3em;

}

#poll-boxes .box{
	position:relative;
	width:32%;
	margin: 0 0.3em;
	height:120px;
	display:inline-block;
	z-index:2;
	text-align:center;

}

#poll-boxes .box .inner-box ul li label span{
	display: inline-block;
	width: 75%;
	text-align: left;
}

#poll-boxes .box .content-box, #poll-boxes .box .title-box,{
	width:50%;
	margin:0;
	padding:0;
	vertical-align: top;
	display:inline-block;
}
#poll-boxes .box .title-box h2{
	margin: 0.2em 0 0 0;
}

#poll-boxes .box .title-box p{
	font-size:12px;
	margin-top: 0em;
}

#poll-boxes .box .inner-box ul{
	margin:0 auto;
	width:90%;
	padding:0;
	list-style:none;
}

#poll-boxes .box .inner-box ul li{
box-shadow: 0px 2px 0px 0px #DFDFDF, 0px 4px 0px 0px #F1F1F1;
		font-size:18px;
		line-height: 2em;
		font-weight:800;
}
#poll-boxes .box .inner-box{
	position:relative;
	z-index:2;
	margin:0;
	padding:0;
	background:#fff;
	color:#222;
	display:block;
	height:120px;
}

#poll-boxes .box .content-box input[type=button]{
	margin:1em 0;
	font-weight: bold;
	width:90%;

}
#poll-boxes .box .content-box span{
	text-align:right;
	font-weight:800;
	display:block;
	padding-right:1.2em;
}

/* Responsive Design */

@media screen and (max-width:900px){
	nav ul.menu{
		width:70%;
	}
	#top-boxes .box{
		width:30%;
	}
	#poll-boxes .box{
		width:30%;
	}
}

@media screen and (max-width:600px){
	nav ul.menu{
		width:65%;
	}
	nav .site-name{
		width:25%;
	}

	#top-boxes .box{
		width:inherit;
		display:block;
		margin: 0.5em 1em;
	}
	#poll-boxes .box{
		width:inherit;
		height:auto;
		display:block;
		margin: 0.5em 1em;
	}
	#poll-boxes .box, #poll-boxes .inner-box{
		height:auto!important;
	}
}

